third_party/
LLVM-*/
*.exe
*.7z
*.tar.xz

build/
out/
**/Release/
**/Debug/
**/RelWithDebInfo/
CMakeCache.txt
CMakeFiles/
*.vcxproj*
*.sln
*.dir/
compile_commands.json

*.dll
*.lib
*.exp
*.obj
*.bc
*.ll
*.pdb
*.ilk

.vs/
.vscode/
*.user
*.suo
Thumbs.db
.DS_Store
